{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'AppBundle:Form:errors.html.twig' %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Change Password</h4>
        </div>
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            <div class="modal-body">
                <div class="form-group {% if form.current_password.vars.errors | length %}has-error{% endif %}">
                    <label class="control-label">Current Password <span class="required" aria-required="true"> * </span></label>
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.current_password) }}
                </div>
                <div class="form-group {% if form.plainPassword.first.vars.errors | length %}has-error{% endif %}">
                    <label class="control-label">New Password <span class="required" aria-required="true"> * </span></label>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-group  {% if form.plainPassword.second.vars.errors | length %}has-error{% endif %}">
                    <label class="control-label">Repeat new password<span class="required" aria-required="true"> * </span></label>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {{ form_row(form._token) }}
            </div>
            <div class="modal-footer">
                <input id="submit_edit_user_change_password" type="submit" class="btn btn-success" value="Change password" />
                <button type="button" class="btn dark grey-salt" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>